
/*index.html style*/
body{
    margin: 0;
}
.bg-image1{
    background-image: url("Images/main_bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.overlay{
    background: rgba(24, 61, 82, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
}
.navbar ul{
    background-color: #183d52;
    text-align: left;
    margin-top: 0;
}
.navbar li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li.right{
    float: right;
}
.main h1{
    text-align: center;
    color: green;
}
.main h4.center{
    text-align: center;
    color: white;
}
.main .three{
    align-items: center;
    display: flex;
    width: 850px;
}
.main .italic{
    text-align: center;
    font-style: italic;
    color: white;
}
.button-container{
    text-align: center;
    width: 100%;
}
.button-container .button{
    padding: 5px 20px;  
}


/*Login.html*/

.bg-image2{
    background-image: url("Images/login_bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
